<div id="zonemessage">
	<BR>
	{{#alert}}
		<!-- Notification: depends on will start, progress or finished -->
		{{< core/notification_base}}
			{{$alertclass}}{{alert}}{{/alertclass}}
		{{/core/notification_base}}
	{{/alert}}
	<BR>
	{{#isstart}}
		{{#str}} sessionstart, mod_hybridteaching {{/str}}
		{{starttime}} <br>
		{{#str}} estimatedduration, mod_hybridteaching {{/str}} 
		{{duration}} <br>
		{{#isadvanceentry}}
			{{#str}} advanceentry, mod_hybridteaching {{/str}}  {{advanceentrytime}}
			<br>
		{{/isadvanceentry}}
		
		{{#isclosedoors}}
			{{#str}} closedoors, mod_hybridteaching {{/str}} : {{closedoors}}
			<BR>
		{{/isclosedoors}}
	
	{{/isstart}}

	{{#isprogress}}
		{{#str}} started, mod_hybridteaching {{/str}}
		{{starttime}} <br>
		{{#str}} estimatedduration, mod_hybridteaching {{/str}} 
		{{duration}}
		<br>
		{{#isclosedoors}}
			{{#canentry}}
				{{#str}} closedoorsnext, mod_hybridteaching {{/str}} 
				{{closedoorstime}} 
				{{#str}} closedoorsnext2, mod_hybridteaching {{/str}}
			{{/canentry}}
			{{^canentry}}
				{{#str}} closedoorsprev, mod_hybridteaching {{/str}} {{closedoorstime}} de comenzar
			{{/canentry}}
		{{/isclosedoors}}
	{{/isprogress}}

	{{#isfinished}}
		{{#str}} finished, mod_hybridteaching {{/str}} {{finished}}
		<br>
	{{/isfinished}}

	{{#isundatedsession}}
	{{/isundatedsession}}
	
</div>

{{#canentry}}
	<div id="zoneaccess">		
	<!-- Aqui enviar solo una url encriptada o algo así, y nada mas, para llegar y pulsar.
	Del loadmeeting quitar casi todo, solo enviar la url, el course, y ya. -->
		<form action="./loadmeeting.php" target="_blank">
			<button type="submit" class="btn btn-success">Comenzar reunión</button>
			<input type="hidden" name="id" value="{{id}}">
			<input type="hidden" name="url" value="{{url}}">
				
		</form>
	</div>
{{/canentry}}	

