<div id="zonemessage" class="mb-3">
	{{#isstart}}
		{{#starttime}}
			<p class="mb-0">
				{{#str}} sessionstart, mod_hybridteaching {{/str}}
				<span class="font-weight-bold">{{starttime}}</span> <br>
			</p>
		{{/starttime}}
		{{#duration}}
			<p class="mb-0">
				{{#str}} estimatedduration, mod_hybridteaching {{/str}}
				<span class="font-weight-bold">{{duration}}</span> <br>
			</p>
		{{/duration}}
		{{#isadvanceentry}}
			{{#waitmoderator}} {{#str}} waitmoderator, mod_hybridteaching {{/str}} {{/waitmoderator}} <br>
			{{#str}} advanceentry, mod_hybridteaching {{/str}}  {{advanceentrytime}}
			<br>
		{{/isadvanceentry}}

		{{#isclosedoors}}
			{{#str}} closedoors, mod_hybridteaching {{/str}}  {{closedoors}}
			<BR>
		{{/isclosedoors}}

	{{/isstart}}
	{{^isstart}}
		{{#sessionexist}}
			{{#isfinished}}
				{{#str}} finished, mod_hybridteaching {{/str}} {{finished}}
				<br>
			{{/isfinished}}
		{{/sessionexist}}
	{{/isstart}}

	{{#isprogress}}
		{{#waitmoderator}}
			<p class="mb-0">
				{{#str}} waitmoderator, mod_hybridteaching {{/str}} <br>
			</p>
		{{/waitmoderator}}
		{{#starttime}}
			<p class="mb-0">
				{{#str}} started, mod_hybridteaching {{/str}}
				<span class="font-weight-bold">{{starttime}}</span> <br>
			</p>
		{{/starttime}}
		{{#duration}}
			<p class="mb-0">
				{{#str}} estimatedduration, mod_hybridteaching {{/str}}
				<span class="font-weight-bold">{{duration}}</span>
			</p>
		{{/duration}}
		<br>
		{{#isclosedoors}}
			{{#canentry}}
				{{#str}} closedoorsnext, mod_hybridteaching {{/str}}
				{{closedoorstime}}
				{{#str}} closedoorsnext2, mod_hybridteaching {{/str}}
			{{/canentry}}
			{{^canentry}}
				{{#str}} closedoorsprev, mod_hybridteaching {{/str}} {{closedoorstime}} {{#str}} closedoorsafter, mod_hybridteaching {{/str}}
			{{/canentry}}
		{{/isclosedoors}}
	{{/isprogress}}
	<br>
	{{#sessperformed}}
			{{#str}} sessionperformed, mod_hybridteaching,  {{sessperformed}} {{/str}}
	{{/sessperformed}}
</div>
	{{#alert}}
		<!-- Notification: depends on will start, progress or finished -->
		{{< core/notification_base}}
			{{$alertclass}}{{alert}}{{/alertclass}}
		{{/core/notification_base}}
	{{/alert}}
	{{#isundatedsession}}
		<div id="zoneaccess">
			<div class="d-flex">
				{{#hascreatecapability}}
					{{#isfinished}}
						<form action="./loadmeeting.php" target="{{target}}" onsubmit="{{onsubmit}}" id="joinvc">
							<input type="hidden" name="id" value="{{id}}">
							<input type="hidden" name="s" value="{{s}}">
							<input type="hidden" name="url" value="{{url}}">
							<button type="submit" class="btn btn-success">{{#str}} createsession, mod_hybridteaching {{/str}}</button>
						</form>
					{{/isfinished}}
				{{/hascreatecapability}}
					{{^isfinished}}
						{{#isprogress}}
							{{#canentry}}
								{{#hasvc}}
									{{#hasjoinurlcapability}}
										{{#userjoinsession}}
											<form action="./loadmeeting.php" target="{{target}}" onsubmit="{{onsubmit}}" id="joinvc">
												<input type="hidden" name="id" value="{{id}}">
												<input type="hidden" name="s" value="{{s}}">
												<input type="hidden" name="url" value="{{url}}">
												<label>{{#str}} labeljoinvc, mod_hybridteaching {{/str}}:</label>
												<button type="submit" class="btn btn-success">{{#str}} joinvc, mod_hybridteaching {{/str}}</button>
											</form>
										{{/userjoinsession}}
									{{/hasjoinurlcapability}}
								{{/hasvc}}
							{{/canentry}}
							{{#hassessionactionscapability}}
								{{# useattendance}}
									{{# useqr}}
										<form action="./password.php" target="_blank" method="post" id="showqr">
											<input type="hidden" name="instance" value="{{instance}}">
											<label>{{# str}} labelshowqrpassword, mod_hybridteaching {{/ str}}:</label>
											<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
										</form>
									{{/ useqr}}
									{{# rotateqr}}
										{{^ useqr}}
										<form action="./password.php" target="_blank" method="post" id="showqr">
											<input type="hidden" name="instance" value="{{instance}}">
											<label>{{# str}} labelshowqrpassword, mod_hybridteaching {{/ str}}:</label>
											<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
										</form>
										{{/ useqr}}
									{{/ rotateqr}}
									{{# usepassword}}
										{{^ useqr}}{{^ rotateqr}}
										<form action="./password.php" target="_blank" method="post" id="showqr">
											<input type="hidden" name="instance" value="{{instance}}">
											<label>{{# str}} labelshowqrpassword, mod_hybridteaching {{/ str}}:</label>
											<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
										</form>
										{{/ rotateqr}}{{/ useqr}}
									{{/ usepassword}}
								{{/ useattendance}}
							{{/hassessionactionscapability}}
						{{/isprogress}}
						{{^isprogress}}
							{{#str}} sessionstart, mod_hybridteaching {{/str}}
							{{starttime}} <br>
							{{#str}} estimatedduration, mod_hybridteaching {{/str}}
							{{duration}} <br>
						{{/isprogress}}
					{{/isfinished}}
				{{^hassessionactionscapability}}
					{{^isfinished}}
						{{#canentry}}
							{{# useattendance}}
								{{#userjoinsession}}
									{{# usepassword}}
										<form action="./passwordaccess.php" target="_self" method="post" id="registeratt">
											<input type="hidden" name="id" value="{{instance}}">
											<input type="hidden" name="attaction" value="1">
											<label>{{# str}} labelattendwithpassword, mod_hybridteaching {{/ str}}:</label><br>
											<div class="d-flex align-items-center">
												<br><label for="qrpass" class="mb-0 mr-2">{{# str}} attendwithpassword, mod_hybridteaching {{/ str}}</label>
												<input type="password" name="qrpass" value=""><br>
											</div>
											<br><button type="submit" class="btn btn-dark d-block ml-auto">{{# str}} markattendance, mod_hybridteaching {{/ str}}</button>
										</form><br>
									{{/ usepassword}}
									{{^usepassword}}
										{{^useqr}}
											<form action="./passwordaccess.php" target="_self" method="post" id="registeratt">
												<input type="hidden" name="id" value="{{instance}}">
												<input type="hidden" name="attaction" value="1">
												<label>{{# str}} labelattendwithpassword, mod_hybridteaching {{/ str}}:</label><br>
												<br><button type="submit" class="btn btn-dark d-block ml-auto">{{# str}} markattendance, mod_hybridteaching {{/ str}}</button>
											</form>
										{{/useqr}}
									{{/usepassword}}
								{{/userjoinsession}}
							{{/ useattendance}}
						{{/canentry}}
					{{/isfinished}}
				{{/hassessionactionscapability}}
			</div>
			{{^hassessionactionscapability}}
				{{^isfinished}}
					{{# useattendance}}
						{{#canentry}}
							{{^userjoinsession}}
								<form action="./passwordaccess.php" target="_self" method="post" id="finishatt">
									<input type="hidden" name="id" value="{{instance}}">
									<input type="hidden" name="attaction" value="0">
									<br>
									<button type="submit" class="btn btn-danger">{{# str}} finishattend, mod_hybridteaching {{/ str}}</button>
								</form>
							{{/userjoinsession}}
						{{/canentry}}
					{{/ useattendance}}
				{{/isfinished}}
			{{/hassessionactionscapability}}
			{{#hassessionactionscapability}}
				{{^isfinished}}
					{{#isprogress}}
						<form action="./loadmeeting.php" id="finishsession" onsubmit="{{onsubmit}}">
							<input type="hidden" name="id" value="{{id}}">
							<input type="hidden" name="s" value="{{s}}">
							<input type="hidden" name="url" value="{{url}}">
							<br><br>
							<button type="submit" name="finishsession" value="1" class="btn btn-danger">{{#str}} finishsession, mod_hybridteaching {{/str}}</button>
						</form>
					{{/isprogress}}
				{{/isfinished}}
			{{/hassessionactionscapability}}
		</div>
	{{/isundatedsession}}

	{{#canentry}}
		{{^isundatedsession}}
			<div id="zoneaccess">
				<div class="d-flex">
					{{#hascreatecapability}}
						{{^isfinished}}
							{{#hasvc}}
								{{#hasjoinurlcapability}}
									{{#userjoinsession}}
										<form action="./loadmeeting.php" target="_blank" id="joinvc" onsubmit="{{onsubmit}}">
											<input type="hidden" name="id" value="{{id}}">
											<input type="hidden" name="s" value="{{s}}">
											<input type="hidden" name="url" value="{{url}}">
											<label>{{#str}} labeljoinvc, mod_hybridteaching {{/str}}:</label>
											<button type="submit" class="btn btn-success">{{#str}} joinvc, mod_hybridteaching {{/str}}</button>
										</form>
									{{/userjoinsession}}
								{{/hasjoinurlcapability}}
							{{/hasvc}}
							{{#hassessionactionscapability}}
								{{# useattendance}}
									{{# useqr}}
										<form action="./password.php" target="_blank" method="post" id="showqr">
											<input type="hidden" name="instance" value="{{instance}}">
											<label>{{# str}} labelshowqrpassword, mod_hybridteaching {{/ str}}:</label>
											<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
										</form>
									{{/ useqr}}
									{{# rotateqr}}
										{{^ useqr}}
										<form action="./password.php" target="_blank" method="post" id="showqr">
											<input type="hidden" name="instance" value="{{instance}}">
											<label>{{# str}} labelshowqrpassword, mod_hybridteaching {{/ str}}:</label>
											<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
										</form>
										{{/ useqr}}
									{{/ rotateqr}}
									{{# usepassword}}
										{{^ useqr}}{{^ rotateqr}}
										<form action="./password.php" target="_blank" method="post" id="showqr">
											<input type="hidden" name="instance" value="{{instance}}">
											<label>{{# str}} labelshowqrpassword, mod_hybridteaching {{/ str}}:</label>
											<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
										</form>
										{{/ rotateqr}}{{/ useqr}}
									{{/ usepassword}}
								{{/ useattendance}}
							{{/hassessionactionscapability}}
						{{/isfinished}}
					{{/hascreatecapability}}
					{{^hassessionactionscapability}}
						{{^isfinished}}
							{{# useattendance}}
								{{#userjoinsession}}
									{{# usepassword}}
										<form action="./passwordaccess.php" target="_self" method="post" id="registeratt">
											<input type="hidden" name="id" value="{{instance}}">
											<input type="hidden" name="attaction" value="1">
											<label>{{# str}} labelattendwithpassword, mod_hybridteaching {{/ str}}:</label><br>
											<div class="d-flex align-items-center">
												<br><label for="qrpass" class="mb-0 mr-2">{{# str}} attendwithpassword, mod_hybridteaching {{/ str}}</label>
												<input type="password" name="qrpass" value=""><br>
											</div>
											<br><button type="submit" class="btn btn-dark d-block ml-auto">{{# str}} markattendance, mod_hybridteaching {{/ str}}</button>
										</form>
									{{/ usepassword}}
									{{^usepassword}}
										{{^useqr}}
											<form action="./passwordaccess.php" target="_self" method="post" id="registeratt">
												<input type="hidden" name="id" value="{{instance}}">
												<input type="hidden" name="attaction" value="1">
												<label>{{# str}} labelattendwithpassword, mod_hybridteaching {{/ str}}:</label><br>
												<br><button type="submit" class="btn btn-dark d-block ml-auto">{{# str}} markattendance, mod_hybridteaching {{/ str}}</button>
											</form>
										{{/useqr}}
									{{/usepassword}}
									</div>
								{{/userjoinsession}}
								{{^userjoinsession}}
									<div class="d-flex">
									<form action="./passwordaccess.php" target="_self" method="post" id="finishatt">
										<input type="hidden" name="id" value="{{instance}}">
										<input type="hidden" name="attaction" value="0">
										<br><br>
										<button type="submit" class="btn btn-danger">{{# str}} finishattend, mod_hybridteaching {{/ str}}</button>
									</form>
									</div>
								{{/userjoinsession}}
							{{/ useattendance}}
						{{/isfinished}}
					{{/hassessionactionscapability}}
				{{#hassessionactionscapability}}
					{{^isfinished}}
						</div>
						<div class="d-flex">
						<form action="./loadmeeting.php" id="finishsession" onsubmit="{{onsubmit}}">
							<input type="hidden" name="id" value="{{id}}">
							<input type="hidden" name="s" value="{{s}}">
							<input type="hidden" name="url" value="{{url}}">
							<br><br>
							<button type="submit" name="finishsession" value="1" class="btn btn-danger">{{#str}} finishsession, mod_hybridteaching {{/str}}</button>
						</form>
						</div>
					{{/isfinished}}
				{{/hassessionactionscapability}}
			</div>
		{{/isundatedsession}}
	{{/canentry}}
</div>
