<div id="zonemessage">
	<BR>
	{{#alert}}
		<!-- Notification: depends on will start, progress or finished -->
		{{< core/notification_base}}
			{{$alertclass}}{{alert}}{{/alertclass}}
		{{/core/notification_base}}
	{{/alert}}
	<BR>
	{{#isstart}}
		{{#str}} sessionstart, mod_hybridteaching {{/str}}
		{{starttime}} <br>
		{{#str}} estimatedduration, mod_hybridteaching {{/str}} 
		{{duration}} <br>
		{{#isadvanceentry}}
			{{#str}} advanceentry, mod_hybridteaching {{/str}}  {{advanceentrytime}}
			<br>
		{{/isadvanceentry}}
		
		{{#isclosedoors}}
			{{#str}} closedoors, mod_hybridteaching {{/str}} : {{closedoors}}
			<BR>
		{{/isclosedoors}}
	
	{{/isstart}}
	{{^isstart}}
		{{#sessionexist}}
			{{#isfinished}}
				{{#str}} finished, mod_hybridteaching {{/str}} {{finished}}
				<br>
			{{/isfinished}}
		{{/sessionexist}}
	{{/isstart}}

	{{#isprogress}}
		{{#str}} started, mod_hybridteaching {{/str}}
		{{starttime}} <br>
		{{#str}} estimatedduration, mod_hybridteaching {{/str}} 
		{{duration}}
		<br>
		{{#isclosedoors}}
			{{#canentry}}
				{{#str}} closedoorsnext, mod_hybridteaching {{/str}} 
				{{closedoorstime}} 
				{{#str}} closedoorsnext2, mod_hybridteaching {{/str}}
			{{/canentry}}
			{{^canentry}}
				{{#str}} closedoorsprev, mod_hybridteaching {{/str}} {{closedoorstime}} de comenzar
			{{/canentry}}
		{{/isclosedoors}}
	{{/isprogress}}

</div>
	{{#isundatedsession}}
		<div id="zoneaccess">		
			<form action="./loadmeeting.php" target="{{target}}" onsubmit="{{onsubmit}}" id="joinvc">
				<input type="hidden" name="id" value="{{id}}">
				<input type="hidden" name="s" value="{{s}}">
				<input type="hidden" name="url" value="{{url}}">
				{{#hascreatecapability}}
					{{#isfinished}}
						<button type="submit" class="btn btn-success">{{#str}} createsession, mod_hybridteaching {{/str}}</button>
					</form>
					{{/isfinished}}
					{{^isfinished}}
						{{#isprogress}}
							{{#hasvc}}
								<button type="submit" class="btn btn-success">{{#str}} joinvc, mod_hybridteaching {{/str}}</button>
							{{/hasvc}}
						</form>
							{{# useattendance}}
								{{# useqr}}
									<form action="./password.php" target="_blank" method="post" id="showqr">
									<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
									<input type="hidden" name="instance" value="{{instance}}">
									</form>
								{{/ useqr}}
								{{# rotateqr}}
									{{^ useqr}}
									<form action="./password.php" target="_blank" method="post" id="showqr">
									<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
									<input type="hidden" name="instance" value="{{instance}}">
									</form>
									{{/ useqr}}
								{{/ rotateqr}}
								{{# usepassword}}
									{{^ useqr}}{{^ rotateqr}}
									<form action="./password.php" target="_blank" method="post" id="showqr">
									<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
									<input type="hidden" name="instance" value="{{instance}}">
									</form>
									{{/ rotateqr}}{{/ useqr}}
								{{/ usepassword}}
							{{/ useattendance}}
						{{/isprogress}}
						{{^isprogress}}
							{{#str}} sessionstart, mod_hybridteaching {{/str}}
							{{starttime}} <br>
							{{#str}} estimatedduration, mod_hybridteaching {{/str}} 
							{{duration}} <br>
						{{/isprogress}}
					{{/isfinished}}
			</form>
				{{/hascreatecapability}}
			
				{{^hascreatecapability}}
					{{^isfinished}}
						{{#hasvc}}
							{{#hasjoinurlcapability}}
								<button type="submit" class="btn btn-success">{{#str}} joinvc, mod_hybridteaching {{/str}}</button>
							{{/hasjoinurlcapability}}
						{{/hasvc}}
					{{/isfinished}}
			</form>
					{{^isfinished}}
						{{# useattendance}}
							{{^ rotateqr}}
								{{# usepassword}}
									<form action="./passwordaccess.php" target="_self" method="post" id="registeratt">
										<div class="btn btn-lg btn-secondary">
											<label for="qrpass">{{# str}} attendwithpassword, mod_hybridteaching {{/ str}}</label>
											<input type="password" name="qrpass" value=""><br>
											<br><button type="submit" class="btn btn-dark">{{# str}} markattendance, mod_hybridteaching {{/ str}}</button>
											<input type="hidden" name="id" value="{{instance}}">
											<input type="hidden" name="attaction" value="1">
										</div>
									</form><br>
								{{/ usepassword}}
							{{/ rotateqr}}
					
							<form action="./passwordaccess.php" target="_self" method="post" id="finishatt">
								<br><button type="submit" class="btn btn-danger">{{# str}} finishattend, mod_hybridteaching {{/ str}}</button>
								<input type="hidden" name="id" value="{{instance}}">
								<input type="hidden" name="attaction" value="0">
							</form>
						{{/ useattendance}}
					{{/isfinished}}
				{{/hascreatecapability}}
			{{^admreusesession}}
				{{#hascreatecapability}}
					{{^isfinished}}
						{{#isprogress}}
							<form action="./loadmeeting.php" id="finishsession">
								<input type="hidden" name="id" value="{{id}}">
								<input type="hidden" name="s" value="{{s}}">
								<input type="hidden" name="url" value="{{url}}">
								<button type="submit" name="finishsession" value="1" class="btn btn-success">{{#str}} finishsession, mod_hybridteaching {{/str}}</button>
							</form>
						{{/isprogress}}
					{{/isfinished}}
				{{/hascreatecapability}}
			{{/admreusesession}}
			
		</div>
	{{/isundatedsession}}
	
</div>

{{#canentry}}
	<div id="zoneaccess">	
		{{^isundatedsession}}	
			{{#hascreatecapability}}
				{{^isfinished}}
					{{#hasvc}}
						<form action="./loadmeeting.php" target="_blank" id="joinvc">
							<button type="submit" class="btn btn-success">{{#str}} joinvc, mod_hybridteaching {{/str}}</button>
							<input type="hidden" name="id" value="{{id}}">
							<input type="hidden" name="s" value="{{s}}">
							<input type="hidden" name="url" value="{{url}}">
						</form>
					{{/hasvc}}
					{{# useattendance}}
							{{# useqr}}
								<form action="./password.php" target="_blank" method="post" id="showqr">
								<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
								<input type="hidden" name="instance" value="{{instance}}">
								</form>
							{{/ useqr}}
							{{# rotateqr}}
								{{^ useqr}}
								<form action="./password.php" target="_blank" method="post" id="showqr">
								<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
								<input type="hidden" name="instance" value="{{instance}}">
								</form>
								{{/ useqr}}
							{{/ rotateqr}}
							{{# usepassword}}
								{{^ useqr}}{{^ rotateqr}}
								<form action="./password.php" target="_blank" method="post" id="showqr">
								<button type="submit" class="btn btn-success">{{# str}} showqrpassword, mod_hybridteaching {{/ str}}</button>
								<input type="hidden" name="instance" value="{{instance}}">
								</form>
								<br>

								{{/ rotateqr}}{{/ useqr}}
							{{/ usepassword}}
					{{/ useattendance}}
				{{/isfinished}}
			{{/hascreatecapability}}
			{{^hascreatecapability}}
				{{^isfinished}}
					{{#hasjoinurlcapability}}
						{{#hasvc}}
							<form action="./loadmeeting.php" target="_blank" id="joinvc">
								<input type="hidden" name="id" value="{{id}}">
								<input type="hidden" name="s" value="{{s}}">
								<input type="hidden" name="url" value="{{url}}">
								<button type="submit" class="btn btn-success">{{#str}} joinvc, mod_hybridteaching {{/str}}</button>
							</form><br>
						{{/hasvc}}
					{{/hasjoinurlcapability}}
					{{# useattendance}}
					{{^ rotateqr}}
						{{# usepassword}}
						<form action="./passwordaccess.php" target="_self" method="post" id="registeratt">
							<div class="btn btn-lg btn-secondary">
								<label for="qrpass">{{# str}} attendwithpassword, mod_hybridteaching {{/ str}}</label>
								<input type="password" name="qrpass" value=""><br>
								<br><button type="submit" class="btn btn-dark">{{# str}} markattendance, mod_hybridteaching {{/ str}}</button>
								<input type="hidden" name="id" value="{{instance}}">
								<input type="hidden" name="attaction" value="1">
							</div>
						</form><br>
						{{/ usepassword}}
					{{/ rotateqr}}
						<form action="./passwordaccess.php" target="_self" method="post" id="finishatt">
							<br><button type="submit" class="btn btn-danger">{{# str}} finishattend, mod_hybridteaching {{/ str}}</button>
							<input type="hidden" name="id" value="{{instance}}">
							<input type="hidden" name="attaction" value="0">
						</form>
					{{/ useattendance}}
				{{/isfinished}}
			{{/hascreatecapability}}
			{{^admreusesession}}
				{{#hascreatecapability}}
					{{^isfinished}}
						<form action="./loadmeeting.php" id="finishsession">
							<input type="hidden" name="id" value="{{id}}">
							<input type="hidden" name="s" value="{{s}}">
							<input type="hidden" name="url" value="{{url}}">
							<button type="submit" name="finishsession" value="1" class="btn btn-success">{{#str}} finishsession, mod_hybridteaching {{/str}}</button>
						</form>
					{{/isfinished}}
				{{/hascreatecapability}}
			{{/admreusesession}}
		{{/isundatedsession}}
	</div>
{{/canentry}}	

